<app-title>Catalog</app-title>
<div class="background1">
  <app-breadcrumbs>
    <ol>
      <li><a routerLink="/home">Home</a></li>
      <li>Catalog</li>
    </ol>
  </app-breadcrumbs>
  <div class="container" style="padding:10px;margin-top:10px;margin-bottom:10px;">
    <form class="form-inline">

      <input class="form-control" style="width:90%" type="search" placeholder="Enter any part of a book's title" id="example-search-input">
      <button type="submit" style="float:right;width:9%" class="btn btn-primary">Search</button>
    </form>

  </div>
  <div class="container" style="background-color: white;padding:10px;border:lightgray solid 1px">

    <div *ngFor="let item  of books">
      <app-book-line [book]="item"></app-book-line><br><br>
    </div>
  </div>
</div>