<app-title [description]="searchText">{{author}}</app-title>
<div class="background1">
  <app-breadcrumbs>
    <ol>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/catalog">Full Catalog</a></li>
      <li>Works by {{author}}</li>
    </ol>
  </app-breadcrumbs>
 
   <div class="container searchFormContainer">
    <form [formGroup]="myForm" novalidate (ngSubmit)="Search(myForm.value, myForm.valid)" class="form-inline">      
      <i (click)="Search(myForm.value, myForm.valid)" style="float:right;width:70px;font-size:26pt;cursor:pointer;padding-top:20px" class="material-icons">search</i>
      <div style="width:100%;padding-left:100px;width:100%;margin-left:-100px">
        <input onfocus="this.placeholder = ''"  class="searchFormContainer searchBox" formControlName="searchBox" type="search" placeholder="Enter any part of a book's title">
      </div>
    </form>
  </div>

  <div class="container searchResultsContainer">
      <app-book-list [books]="books" [spinner]="showWaiter"></app-book-list>
  </div>
</div>