/* You can add global styles to this file, and also import other style files */
@import "palette.scss";

$font-stack:   calibri, "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$logo-url: '/assets/logo.png';
$background1:beige;

$font-size1:30px;
$font-size2:28px;
$font-size3:22px;
$font-size4:10px;

.siteLogo{
    height:120px;
    width: 100%;
    background-image:url($logo-url);
    background-repeat: no-repeat;
    }

body{
    font-family: $font-stack;
    font-size: 14pt;
    color:#546E7A;
    }

P{font-family: calibri, "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14pt;
    color:#546E7A;}

.siteTitle{font-family: 'Open Sans', sans-serif;font-size:14pt;}

.bookTitle {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
.status-icons {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: -5px;
}
.background1{
    background-color:$background1;padding:10px;
}
.searchResultsContainer{
    background-color:white;padding:10px;border:lightgray solid 1px;min-height:200px
}
.searchFormContainer{
    padding:0px;margin-top:10px;margin-bottom:10px;
    background-color: white;
    border:solid 1px lightgray;
    .searchBox{
        border: 1px solid #fff; 
        padding-left:20px;
        height:50px;
        font-size: $font-size3;
        width:100%;
        outline-width: 0;
    } 
}

.searchResultsFailure{
    font-size: $font-size2;
    text-align: center;
    padding:15px;

}

.dropdown A{
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 45px;
}

 